@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.speech-bubble {
		fill: #fff;
		position: relative;
	}
	.speech-bubble-arrow {
		position: absolute;
		top: -2.9rem;
		left: calc(50% - 4.5rem);
		width: 3rem;
		height: 3rem;
	}
	.speech-bubble-arrow-md {
		width: 4rem;
		height: 4rem;
		fill: #fff;
		left: -3.9rem;
		top: calc(50% + 2rem);
	}
}

h1 {
	@apply font-roboto font-thin;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before {
	content: "";
}
.prose :where(code):not(:where([class~="not-prose"] *))::after {
	content: "";
}